@import "tailwindcss";

@theme {
    /*--color-primary-50: #E3FCEF;*/
    /*--color-primary-100: #C7F9DD;*/
    /*--color-primary-200: #92F4C7;*/
    /*--color-primary-300: #59E0AE;*/
    /*--color-primary-400: #30C199;*/
    /*--color-primary-500: #00997D;*/
    /*--color-primary-600: #008377;*/
    /*--color-primary-700: #006D6E;*/
    /*--color-primary-800: #004F58;*/
    /*--color-primary-900: #003B49;*/

    --color-primary-50: #fff9f8;
    --color-primary-100: #FEEAD3;
    --color-primary-200: #FDD0A8;
    --color-primary-300: #FAAE7C;
    --color-primary-400: #F68D5B;
    --color-primary-500: #F15A27;
    --color-primary-600: #CF3D1C;
    --color-primary-700: #AD2413;
    --color-primary-800: #8B110C;
    --color-primary-900: #73070A;
}